body{
	margin: 0;
	background-color: Lavender;
}

nav{
	height: 1px;
	background-color: inherit;
}

img{
	pointer-events: none;
}

hr{
     height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgb(238,110,115,0.5);
}

.circle{
	border-radius: 10%;
}


.sidenav-trigger{
	color: #ee6e73;
}

.top-nav{
	background: #fff;
}

.bg{
	/*background: #5D6D7E;*/
	background:#C2185B;
}

.inline li{
	display: inline;
	list-style-type: none;
	margin: 4px;
}

.tcolor{
	color: #ee6e73;
	font-weight: bold;
}



.leadh{
	font-size: 1.6em;
	font-weight: 400;
	color: #4a4a4a;
}


.subheading{
	font-size: larger;
	text-transform: uppercase;
	font-weight: 400;
}

.subh2{
	font-weight: 500;

}

.inline a{
	color: #4a4a4a;
}

.inline li:hover{
	color: #ee6e73;
}

.inline a:hover{
	color: #ee6e73;
}

#skills{
	margin: 150px 0px 180px 0px;
}

#about{
	margin: 100px 0px 180px 0px;
}

#posts{
	margin: 150px 0px 180px 0px;
}

#projects{
	margin: 150px 0px 75px 0px;
}
