
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{page.title}}</title>
  <link rel="icon" href="{{ site.baseurl }}/public/img/icon.png">
	<link rel="stylesheet" href="{{ site.baseurl }}/public/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{{ site.baseurl }}/public/css/app.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/public/css/all.min.css" rel="stylesheet"> 
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
